$enable-negative-margins: true;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// $main-width: map.get($container-max-widths, "lg");

main {
  margin-bottom: 96px;
  max-width: 960px !important;
}

nav>div.container {
  max-width: 960px !important;
}

;

@include media-breakpoint-down(sm) {
  main {
    margin-bottom: 144px;
  }
}

a.card-link {
  text-decoration: none;
  color: inherit;
}

@include media-breakpoint-down(md) {
  div.card>*>div.col-md-4>img.rounded-start {
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0.25rem !important;
  }
}

div.col>div.card {
  position: static !important;
}

.row>table {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

img.img-banner {
  max-height: 10rem;
  object-fit: cover;
}