$enable-negative-margins: true;

@import '../public/styles/bootstrap/scss/bootstrap.scss';

main {
    margin-bottom: 96px;
    max-width: 960px !important;
}

nav>div.container {
    max-width: 960px !important;
}

@include media-breakpoint-down(sm) {
    main{
        margin-bottom: 144px;
    }
}

.row > table {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

img.img-banner{
    max-height: 10rem;
    object-fit: cover;
}

